@page "/Chat"
@rendermode InteractiveServer
@using System.Linq;


<h3>Chat</h3>

<div class="chat">
	<div class="messages">


		@if(messages != null)
		{
			foreach( var message in messages)
			{
				<div class="box">
					<p class="name">@users.FirstOrDefault(p => p.Id == message.UserId)?.Name</p>
					<p class="time">@message.DateTime</p>
				</div>
				<p>@message.Text</p>
			}
		}

	</div>

	<form onsubmit="@OnSubmit" class="form">
		<div class="box">
			<input  placeholder="Name" class="inpName" type="text" @bind="userName"></input>
			<p>@infoText</p>
		</div>
		<textarea placeholder="Text" type="text" class="inpMessage" @bind="userText"></textarea>
		<button type="submit">Odeslat</button>

	</form>

</div>

@code {
	List<Message> messages = new();
	List<User> users = new();
	string userName = "";
	string userText = "";
	string infoText = "";


	protected override void OnInitialized()
	{
		base.OnInitialized();
		LoadDB();
	}


	void LoadDB()
	{
		using(var context = new MyDBContext())
		{
			messages = context.Messages.OrderDescending().Take(10).ToList();
			users = context.Users.ToList(); 
		}
		

	}


	void OnSubmit()
	{
		if(userName.Length > 2 && userName.Length < 20 && userText.Length > 0 && userText.Length < 200)
		{
			var message = new Message() {Id = 0, User = new User() {Id = 0, Name = userName }, DateTime = DateTime.Now, Text = userText };
			using(var context = new MyDBContext())
			{
				context.Messages.Add(message);
				context.SaveChanges();
			}

			infoText= "odesláno";
			userText = "";
			LoadDB();
		}
		else
		{
			infoText = "Chybné parametry";
		}
	}

}


